@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;600;700&display=swap");

:root {
  --background-color: #6a4c93;
  --font-color: #ffffff;
  --green-color: #8ac926;
  --blue-color: #1982c4;
  --yellow-color: #ffca3a;
  --red-color: #ff595e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--font-color);
}

body {
  font-family: "Merriweather Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
